.side-nav-bar {
  &__btn-container {
    display: flex;
    justify-content: center;
  }

  &__btn__trigger--white {
    color: white;
    font-size: 25px;

  }

  .menu-container {
    padding-top: 28px;
  }

  .side-bar-icon-font {
    font-size: 20px;
  }
}